<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="css/cancelar.css">
</head>

<body>
    <div class="sc-container">
        <h1>Algo deu errado!</h1>
        <p>Pedimos desculpas pelo inconveniente, mas ocorreu um erro ao<br> processar seu pedido.</p>
        <p>Para qualquer ajuda: suporte@ecovox.com</p>
        <img src="imagen/cancel.png" alt="">
        <a onclick="window.location='/loja'" class="sc-btn">Voltar para a loja</a>

        <div class="box">

            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
     
         </div>
    </div>
</body>

</html>