<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" media="screen" />
    
</head>
<body>
    <section id="começo">

        <div class="div-logo">
            <img src="/imagen\logo-home.png" class="logo" id="lgo">
           </div>
      
    

        <a  onclick="window.location='/loginF'"> <button type="button" class="login1"   id="log"  onmousemove="lo()"  onmouseout="gin()"> Login </button> </a>
           
    
        <a onclick="window.location='/cadastroF'"> <button type="button" class="cadastar1"  id="cads" onmousemove="cad()" onmouseout="se()">Cadastre-se</button></a>



        <div class="search-box">
            <input type="text" class="search-text">
            <a class="search-btn">
            <box-icon class="icone-lupa" name='search-alt-2' color='#f2f2f2' widht="60px" height="60px" ></box-icon>
            </a>
        </div>

        

      <div class="nav-home">
        <ul>
            <li><a>Home</a> </li>
            <li><a>Blog</a> </li>
            <li><a>Parceria</a> </li>
            <li><a>Loja</a> </li>
        
        </ul>
    </div>
        
    
    
    
        <div class="conteiner" id="cos" >
      
            <div class="hamburguer" id="btn-mobile">
                <div class="line1" id="line1"></div>
                <div class="line2" id="line2"></div>
                <div class="line3" id="line3"></div>
                <div class="line4" id="line4"></div>
                    <img src="/imagen\home-Proximo.png" class="line6" id="line6">
            </div>
        </div>
    
        
    
    <section>
    
        <div class="sidebar">
            
            <div class="logo-content">
            
                     <ul class="list">

                        <box-icon name='x' color="#f2f2f2" class="close-menu"></box-icon>

                        <img src="/imagen\logo-home.png" id="logo">
                         
    
                        <hr>

                         
                       <div class="search-box2">
                         <input type="text" class="search-text2">
                             <a class="search-btn2">
                      <box-icon class="icone-lupa2" name='search-alt-2' color='#f2f2f2' widht="60px" height="60px" ></box-icon>
                            </a>
                         </div>
    
            
                         <li class="list-item active">
    
                           
                           
                             <a  onclick="window.location='/home'">
            
                            <i class='bx bx-home'></i>
    
    
                             <img src="/imagen\home-home.png" class="img_home" id="home">
                             <span class="links-name">Home</span>
    
            
                             </a>
            
                             <span class="tooltip">Home</span>
            
                        </li>
            
                        <li class="list-item">
            
                             <a  onclick="window.location='/cadastroF'">
                            
                             <i class='bx bx-user'></i>
        
                              <img src="/imagen\home-livro.png" class="img_home" id="livro">
                              <span class="links-name" id="livro">Artigos</span>
            
                             </a>
            
                              <span class="tooltip">Artigos</span>
            
                        </li>
            
                      
            
                    </ul>
    
    
                    <ul class="list-logout">
            
                        <li class="list-logout">
        
                            <a onclick="window.location='/cadastroF'">
            
                            <i class='bx bx-log-out'></i>
            
             
                            <img src="/imagen\home-loja.png" class="img_home" id="loja">
                            <span class="links-name">Loja</span>
            
                            </a>
    
                            <span class="tooltip">Loja</span>
            
                        </li>
                        
                             <hr class="hambuguer-Hr">
    
                             <a  onclick="window.location='/loginF'"> <button type="button" class="login"   id="log"  onmousemove="lo()"  onmouseout="gin()"> Login </button> </a>
           
    
                             <a onclick="window.location='/cadastroF'"> <button type="button" class="cadastar"  id="cads" onmousemove="cad()" onmouseout="se()">Cadastre-se</button></a>
            
                    </ul>
            
             </div>
        </div>
       
    </section>

</section>
   
</div>
<main>

<p class="ECOVOX">ECOVOX POR 
UM <strong> PLANETA MAIS LIMPO. </strong> </p>


<img src="/imagen\home-folha1.png" class="folha1">
<img src="/imagen\home-folha2.png" class="folha2">
<img src="/imagen\home-folha3.png" class="folha3">

<img src="/imagen\home-mãos2.png" class="mãos2">

    
 <div class="nos">
<p> <b>Sobre Nós</b><br>Focado para autônomos e empresas
     que gostariam de divulgar suas
      mercadorias feitos de maneira 
      reciclável. Trazemos produtos
      recicláveis e artigos sobre a
       reciclagem do Brasil <br>em um lugar só!</p>

    <button  onclick="window.location='/cadastroF'" class="bt"> QUERO MEU ACESSO </button>

    <img src="/imagen\home-correto.png" >

</div>
</div>

<div class="CARROSEL">
    <h1 class="carrosel-obje">objetivos</h1>
    <ul>
        <li>
              <img src="/imagen\home-carrosel1.jpeg">
              <h1>Conscientizar</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum volutpat mauris a varius.</p>
        </li>
        <li>
            <img src="/imagen\home-carrosel2.jpeg">
            <h1>Reciclagem
                Correta</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum volutpat mauris a varius.</p>
        </li>
        <li>
            <img src="/imagen\home-carrosel3.jpeg">
            <h1>Fornecer Recursos
                & Ferramentas</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum volutpat mauris a varius.</p>
        </li>
        <li>
            <img src="/imagen\home carrosel4.jpeg">
            <h1>Ligar Vendedores
                & Compradores</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum volutpat mauris a varius.</p>
        </li>
        <li>
            <img src="/imagen\home-carrosel5.jpeg">
            <h1>Facilitar a Venda
                & Compra de
                Materiais
                Reciclavéis</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum.</p>
        </li>
    </ul>
</div>



    


<div class="blog">
   <img src="/imagen\home-blog.png"  class="mulher">
   <h1 class="nosso">NOSSO <strong>BLOG</strong></h1>
   <h3 class="ver"> Ver mais</h3>

</div>

<div class="seta">
   <img src="/imagen\artigo-seta.png" class="mais">
</div>

<h3 class="pop">Maior relevância</h3>

<div class="slider">
<div class="slides">

<input type="radio"  id="radio1" name="slide" />
<input type="radio"  id="radio2" name="slide" />
<input type="radio"  id="radio3" name="slide" />
<input type="radio"  id="radio4" name="slide" />
<input type="radio"  id="radio5" name="slide" />

       

<div class="slide first">

       
<div class="vem">
    
        <img src="/imagen\home-recicle.jpeg" class="recicle">
        <h4 class="quais">Quais os 10 tipos
            de reciclagem?</h4>
    
            <DIV class="cem">
            <img src="/imagen\home-grafico.png" class="por"> 
        </DIV>

        <hr>
    
            <h5 class="segui">15K</h5>
        <div class="a5">
            <img src="/imagen\home-Alessandra.png" class="Alessandra">
            <h5 class="nome">Alessandra Negrini</h5>
    </div>
 
 
        <a onclick="window.location='/teste'" class="sobre">Ler sobre</a>

    
    
    
             <DIV class="SO"></DIV>
            <h6 class="adm">Criador(a)</h6>
        </div>
   

      


    


       
      

    <div class="slider">  
       
    </div>
        </div>

         
<div class="vem2">
    
    <img src="/imagen\home-recicle2.jpeg" class="recicle">
    <h4 class="Porque">Por que a reciclagem é <br> importante?</h4>

        <DIV class="cem">
        <img src="/imagen\home-grafico.png" class="por"> 
    </DIV>

    <hr>

        <h5 class="segui">22K</h5>
    <div class="a5">
        <img src="/imagen\home-Bruna Marquezine.png" class="Alessandra">
        <h5 class="nome">Bruna Marquezine</h5>
</div>

<div class="sobre2">
<a  class="sobre">Ler sobre</a>
</div>



         <DIV class="SO"></DIV>
        <h6 class="adm">Criador(a)</h6>
    </div>


     


<div class="vem3">
    
    <img src="/imagen\home-recicle3.jpeg" class="recicle">
    <h4 class="Consumo">Consumo consciente
        e sustentabilidade</h4>

        <DIV class="cem">
        <img src="/imagen\home-grafico.png" class="por"> 
    </DIV>

    <hr>

        <h5 class="segui">73K</h5>
    <div class="a5">
        <img src="/imagen\home-Taís Araújo.png" class="Alessandra">
        <h5 class="nome">Tais Araújo</h5>
</div>

<div class="sobre2">
<a  class="sobre">Ler sobre</a>
</div>



         <DIV class="SO"></DIV>
        <h6 class="adm">Criador(a)</h6>
    </div>


 




<div class="vem4">
    
    <img src="/imagen\home-recicle4.jpeg" class="recicle">
    <h4 class="pouco">Por que o Brasil ainda
        recicla tão pouco?</h4>

        <DIV class="cem">
        <img src="/imagen\home-grafico.png" class="por"> 
    </DIV>

    <hr>

        <h5 class="segui">98K</h5>
    <div class="a5">
        <img src="/imagen\home-Wagner Moura.png" class="Alessandra">
        <h5 class="nome">Wagner Moura</h5>
</div>

<div class="sobre2">
<a src="" class="sobre">Ler sobre</a>
</div>



         <DIV class="SO"></DIV>
        <h6 class="adm">Criador(a)</h6>
    </div>








<div class="vem5">
    
    <img src="/imagen\home-recicle5.jpeg" class="recicle">
    <h4 class="Arte">Arte e reciclagem: a
        transformação do lixo</h4>

        <DIV class="cem">
        <img src="/imagen\home-grafico.png" class="por"> 
    </DIV>

    <hr>

        <h5 class="segui">130K</h5>
    <div class="a5">
        <img src="/imagen\home-Baco Exu do Blues.png" class="Alessandra">
        <h5 class="nome">Baco Exu do Blues</h5>
</div>

<div class="sobre2">
<a src="" class="sobre">Ler sobre</a>
</div>



         <DIV class="SO"></DIV>
        <h6 class="adm">Criador(a)</h6>
    </div>












        <div class="navegation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
            <label for="radio5" class="manual-btn"></label>
        </div>
</div>
</div>


<script type="text/javascript">
    var counter = 1;
    setInterval(function(){
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if(counter > 4){
            counter = 1;
        }
    }, 5000);
</script>


<div class="Torne-se">    
    <h1>SEJA NOSSO PARCEIRO!</h1>
    <h4>Independente do tamanho do seu negócio</h4>
    <button>Saiba mais <box-icon color="#f2f2f2" class="saiba_mais"  name='right-arrow-alt'></box-icon></button>

    <img src="/imagen\home-parceiro.jpeg">
  

</div>



<div class="loja">
 
<h2 class=" da"> PRODUTOS DA LOJA</h2>
</div>

<div class="div-homem-loja">
    <img src="/imagen\home-home_loja.png" class="homem_loja">
</div>

<div class="li">
    <img src="/imagen\artigo-seta.png" class="la">
 </div>

 <h3 class="le"> Ver mais </h3>



 <h1 class="requisitados">Menor preço</h1>


 <div class="ciencia1"></div>


 <div class="ciencia2">
    <img src="/imagen\home-ciencia.png" alt="" class="ciencia">
</div>





 <h3 class="algas1">Camiseta de algas</h3>

 
 
 <h3 class="custo">R$50,00</h3>


<div class=produto1>
    <img src="/imagen/home-produto.png"class="produto">
</div>

<h3 class="bio">Camiseta Biodegradavel</h3>

<h3 class="custa">R$ 50,00</h3>


<div class=produto2>
    <img src="/imagen\home-cesto-de-papel.png"class="produto3">
</div>


<h3 class="cesto">Cesto de Papel
    Sustentável</h3>

<h3 class="custo1">R$ 35,00</h3>


<div class=produto5>
    <img src="/imagen\home-escova-de-prato.png"class="produto4">
</div>


<h3 class="escova">Escova de Prato
    Sustentável</h3>

<h3 class="custo2">R$ 25,00</h3>


<div class="Mais-itens">
    <box-icon color="#009696" name='plus-medical'  onclick="window.location='/cadastroF'" ></box-icon>
    <h4> Mais produtos</h4>
</div>

</main>




<footer>

  <div class="div-faça-parte">
    <div class="faça-parte">
        <p>Faça parte da Ecovox e vamos tornar o Brasil mais ecológico juntos!</p>
        <button  onclick="window.location='/cadastroF'">  ACESSO </button>
        <img src="/imagen\home-correto.png" >
    </div>
<div>
 


    <div class="contato">
        <h3>Contato</h3>
        <p>ecovox@gmail.com<br>
            (XX) X XXXX-XXXX
        </p>
    </div>    

    <hr>

    <a>Política de Privacidade</a>
    <a>Termos & Condições</a>
    

 <img src="/imagen\home-footer-fundo.png" id="footer-fundo">

 <p>2023 EcoVox </p>

 <img src="/imagen\home-registrado.png" id="registrado"> 

   


</footer>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="/app/public/js/link-button.js"></script>
<script src="/js/home.js"></script>
</body>
</html>