<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginJ</title>
    <link rel="stylesheet" type="text/css" href="/css/loginj.css" media="screen" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css\loginj.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/cadastroj.js"></script>
</head>
<body>
<section>
      <div class="border">
        <div class="borda"> 
            
         
          <box-icon name='chevron-left'  onclick="window.location='/home'" color='#F2F2F2' class="seta" ></box-icon>
              
    
      <div class="logo1">
          <img src="/imagen\login-logo-blue.png" class="logo2"> 
      
         </div>
       </div>

       <h1 class="titulo">Bem-vindo(a) de volta!</h1>
       <h4 class="titulo-sub">Acessar sua conta</h4>


   <div class="buttons">   
     <a href=" "><button type="button" id="ops"  onmousemove="ops()" disabled onmouseout="sai()" class="ju">Juridico</button></a>

     <a onclick="window.location='/loginF'"><button type="button" id="eae" value=""  class="fi" >Fisico</button></a>
    </div>

    
     
      <input type="button" id="google">
      <span id="span-google">Continuar com Google</span>

      <img src="/imagen\login-google.png" id="img-google">

 <h3 class="p">- ou -</h3>
 

    

<main>
    <form action="/loginjuri" method="post" id="form">
      <% 
      
      let avisoErro = {"emailJuridico":"", "senhaJuridico":""}
      let msgErro = {"emailJuridico":"", "senhaJuridico":""}
      let listaErros = ""
          if(listaErros){
              listaErros.errors.forEach(function(itemErro){
                  if(itemErro.path == "emailJuridico"){
                      avisoErro.emailJuridico = "erro";
                      msgErro.emailJuridico = itemErro.msg
                  }
                  if(itemErro.path == "senhaJuridico"){
                      avisoErro.senhaJuridico = "erro";
                      msgErro.senhaJuridico = itemErro.msg
                  }
              })
          }
      %>
      <div class="input-box">
        <input type="text" name="emailJuridico" id="emailJuridico" class="email" class="<%= avisoErro.emailJuridico %>" required="required">
        <span class="span-input">Email</span><br>
        <span>
            <%= msgErro.emailJuridico %>
        </span><br>
    </div>

   

        <div class="input-box">
            <input type="password" id="senhaJuridico" class="<%= avisoErro.senhaJuridico %>" name="senhaJuridico" required="required"/>
            <span class="span-input">Senha</span>
            <div id="MMM" onclick="showHide()"></div>  
            <span>
                <%= msgErro.senhaJuridico %>
            </span> 
        </div>
        <script>
            const senhaJuridico = document.getElementById('senhaJuridico');
            const MMM = document.getElementById('MMM');

            function showHide(){
                if( senhaJuridico.type === " senhaJuridico"){
                    senhaJuridico.setAttribute('type', 'senhaJuridico');
                    MMM.classList.remove('hide');
                }else{
                    senhaJuridico.setAttribute('type', 'text');
                    MMM.classList.add('hide');
                }
            }
        </script>
        
        <a href="" class="esqueceu" id="tiu"> Esqueceu sua senha?</a>


        
    <div class="button">
        <button type="submit"  class="butao">Entrar</button>
    </div>

  
    
       
    </form>

   
</main>
<footer>

    <h2 class="novo">Novo aqui?</h2> 
    <a onclick="window.location='/cadastroJ'" class="cada"> Cadastre-se</a>
    <script src="/js/home.js"></script>
</footer>
</div>
  </div>

</section>
</body>


</html>