<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginF</title>
    <link rel="stylesheet" type="text/css" href="/css/loginj.css" media="screen" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="" href="/css\loginf.css" media="screen" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/cadastrof.js"></script>
    <script src="/js/loginf.js"></script>
</head>
<body>
<section>
    <div class="border">
  

        <div class="borda"> 
            
            <a  onclick="window.location='/home'">
                <box-icon name='chevron-left'  onclick="window.location='/home'" color='#616162' class="seta" ></box-icon>
                </a>
      
        <div class="logo1">
            <img src="/imagen\login-logo-blue.png" class="logo2"> 
        
           </div>
         </div>
    
        <h1 class="titulo">Bem-vindo(a) de volta!</h1>
        <h4 class="titulo-sub">Acessar sua conta</h4>
   
    


        <div class="buttons">
            <a onclick="window.location='/loginJ'"><button type="button" id="ops" value="" class="ju" > Juridico </button></a>
           
          
            <a href=" "><button type="button" id="eae"  onmousemove="ops()" disabled  onmouseout="sai()" class="fi">Físico</button></a>
           </div>

           <input type="button" id="google">
           <span id="span-google">Continuar com Google</span>
     
           <img src="/imagen\login-google.png" id="img-google">
     


 <h3 class="p">- ou -</h3>

 

    

<main>
    <% 
            let avisoErro = {"emailFisico":"", "senhaFisico":""}
            let msgErro = {"emailFisico":"", "senhaFisico":""}
            let listaErros = ""
                if(listaErros){
                    listaErros.errors.forEach(function(itemErro){
                        if(itemErro.path == "emailFisico"){
                            avisoErro.emailFisico = "erro";
                            msgErro.emailFisico = itemErro.msg
                        }
                        if(itemErro.path == "senhaFisico"){
                            avisoErro.senhaFisico = "erro";
                            msgErro.senhaFisico = itemErro.msg
                        }
                    })
                }
       %>
    <form action="/loginfisico" method="post" id="form" class="form">
        <div class="input-box">
            <input type="text" name="emailFisico" id="emailFisico" class="email" class="<%= avisoErro.emailFisico %>" required="required">
            <span class="span-input">Email</span><br>
            <span>
                <%= msgErro.emailFisico %>
            </span><br>
        </div>
        <div class="input-box">
            <input type="password" id="senhaFisico"  class="<%= avisoErro.senhaFisico %>" name="senhaFisico" required="required"/>
            <span class="span-input">Senha</span><br>
            <span>
                <%= msgErro.senhaFisico %>
            </span>
        </div>

        <a href="" class="esqueceu" id="tiu"> Esqueceu sua senha?</a>


        
    <div class="button">

        <button type="submit"  class="butao">Entrar</button>

        <button type="submit" class="butao">Entrar</button>

    </div>

   
    
       
    </form>

   
</main>
<footer>

    <h2 class="novo">Novo aqui?</h2> 
    <a onclick="window.location='/cadastroF'" class="cada"> Cadastre-se</a>
    <script src="/js/home.js"></script>

</footer>
</div>
  </div>
  
</section>
</body>

</html>