<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b023fbb394.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/perfiledit.css">

    <title>Perfil </title>
</head>

<body>
    <section id="começo">



        <div class="search-box">
            <input id="searchbar" onkeyup="search_post()" type="text" placeholder="Buscar..." class="search-text">
            <a class="search-btn">
            <box-icon class="icone-lupa" name='search-alt-2' color='#f2f2f2' widht="60px" height="60px" ></box-icon>
            </a>
            <script>
                function search_post() {
                    let input = document.getElementById('searchbar').value
                    input = input.toLowerCase();
                    let x = document.getElementsByClassName('titulo');

                    for (i = 0; i < x.length; i++) {
                        if (!x[i].innerHTML.toLowerCase().includes(input)) {
                            x[i].style.display = "none";
                        }
                        else {
                            x[i].style.display = "list-item";
                        }
                    }
                }
            </script>
        </div>

        <div class="div-logo">
            <img src="/imagen\logo-home.png" class="logo" id="lgo">
           </div>

     
           <div class="nav-home">
            <ul>
                <li><a onclick="window.location='/homeLF'">Home</a> </li>
                <li><a onclick="window.location='/artigos'">Blog</a> </li>
                <li onclick="window.location='/loja'"><a>Loja</a> </li>
                <li><a>Sair</a> </li>
               
            
            </ul>
        </div>
            
        
          
      
      
  
  
          <box-icon onclick="window.location='perfilF'" name='user-circle' color='#ececec' class="perfil" onclick="window.location='/perfilF'"  ></box-icon>
  
  
      
      
      
          <div class="conteiner" id="cos">
        
              <div class="hamburguer" id="btn-mobile">
                  <div class="line1" id="line1"></div>
                  <div class="line2" id="line2"></div>
                  <div class="line3" id="line3"></div>
                  <div class="line4" id="line4"></div>
              
      
                      <img src="/imagen\home-Proximo.png" class="line6" id="line6">
              </div>
          </div>
      
          
      
      <section>
      
          <div class="sidebar">
              
              <div class="logo-content">
              
                       <ul class="list">
  
                          <box-icon name='x' color="#f2f2f2" class="close-menu"></box-icon>
  
                          <img src="/imagen\logo-home.png" id="logo">
                           
      
                          <hr>
  
                          <div class="search-box2">
                              <input type="text" class="search-text2">
                                  <a class="search-btn2">
                           <box-icon class="icone-lupa2" name='search-alt-2' color='#f2f2f2' widht="60px" height="60px" ></box-icon>
                                 </a>
                              </div>
      
              
                           <li class="list-item active">
      
                             
                             
                               <a  onclick="window.location='/homeLJ'">
              
                              <i class='bx bx-home'></i>
      
      
                               <img src="/imagen\home-home.png" class="img_home" id="home">
                               <span class="links-name">Home</span>
      
              
                               </a>
              
                               <span class="tooltip">Home</span>
              
                          </li>
              
                          <li class="list-item">
              
                               <a  onclick="window.location='/artigos'">
                              
                               <i class='bx bx-user'></i>
          
                                <img src="/imagen\home-livro.png" class="img_home" id="livro">
                                <span class="links-name" id="livro">Artigos</span>
              
                               </a>
              
                                <span class="tooltip">Artigos</span>
              
                          </li>
              
                        
              
                      </ul>
      
      
                      <ul class="list-logout">
              
                          <li class="list-logout">
          
                              <a onclick="window.location='/loja'">
              
                              <i class='bx bx-log-out'></i>
              
               
                              <img src="/imagen\home-loja.png" class="img_home" id="loja">
                              <span class="links-name">Loja</span>
              
                              </a>
      
                              <span class="tooltip">Loja</span>
              
                          </li>
                      </ul>
              
               </div>
          </div>
         
      </section>
  
  </section>
<main>



    <div  class="retorno">
        <box-icon name='chevron-left' color='#616162' class="Box-seta"  onclick="window.location='/perfilJ'"></box-icon>
        <p onclick="window.location='/perfilJ'">Voltar</p>
    </div>

    <h1 class="titulo-editar">Editar Perfil</h1>


    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img id="imagem-de-fundo1" src="img/perfil/perfil.png" alt="img-avatar1">
                    <label for="input-imagem1" class="upload-icon1">
                        <i class='bx bxs-pencil'></i>
                    </label>
                    <input type="file" id="input-imagem1" accept="image/*" onchange="alterarImagemDeFundo1()">
                </div>
            </div>
        </div >
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
            </div>
          <div class="edit">
            <form action="/perfiledit" method="post">

            <div class="alteraçao-inpults">

            <h1>Informações Básicas</h1>

            <div class="input-box">
                <input type="text">
                <span>Nome</span>
            </div>
            <div class="input-box">
                <input type="text"  >
                <span>Loja</span>
            </div>
            <div class="input-box">
                <input type="email" >
                <span>E-mail</span>
            </div>
            <div class="input-box">
                <input type="text"  >
                <span>End</span>
            </div>
            <div class="input-box">
                <input type="tel" >
                <span>Tel</span>
            </div>
            <div class="input-box">
                <input type="password" >
                <span>Senha</span>
            </div>
           
            </div>


                <a href="/deletar" class="delete-button">Cancelar</a>
                <input type="submit" value="Salvar" class="alte">
            </form>
          </div>
        </div>
        </div>




        <script>
            const telFisico = document.getElementById('telFisico') 
            telFisico.addEventListener('keypress', (e) => mascaraTelefone(e.target.value)) 
            telFisico.addEventListener('change', (e) => mascaraTelefone(e.target.value)) 
            const mascaraTelefone = (valor) => {
                valor = valor.replace(/\D/g, "")
                valor = valor.replace(/^(\d{2})(\d)/g, "($1) $2")
                valor = valor.replace(/(\d)(\d{4})$/, "$1-$2")
             telFisico.value = valor 
            }
        </script>
        
        <script>  
            function formatar(mascara, documento) {
              let i = documento.value.length;
              let saida = '#';
              let texto = mascara.substring(i);
              while (texto.substring(0, 1) != saida && texto.length ) {
                documento.value += texto.substring(0, 1);
                i++;
                texto = mascara.substring(i);
              }
            }
          </script>
    </section>
</main>
    <script src="js/upload.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/home.js"></script>


    <footer>

     
      
      
          <div class="contato">
              <h3>Contato</h3>
              <p>ecovox@gmail.com<br>
                  (XX) X XXXX-XXXX
              </p>
          </div>    
      
          <hr>
      
          <a onclick="window.location='/Termos'">Política de Privacidade</a>
          <a>Termos & Condições</a>
          
      
       <img src="/imagen\home-footer-fundo.png" id="footer-fundo">
      
       <p>2023 EcoVox </p>
      
       <img src="/imagen\home-registrado.png" id="registrado"> 
      
         
      
      
      </footer>
</body>


    <script> 
    
    var nometrocado = document.getElementById ('trocarnome')    
    function daorao () {
        nometrocado.removeAttribute('onclick'); nometrocado.setAttribute('href', '/sair' );
        nometrocado.innerHTML = 'Sair'
    }
    daorao ()
    
    </script>
    
  

</html>