<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b023fbb394.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
    <title>Produtos</title>
    <link rel="stylesheet" type="text/css" href="/css/Produto.css" media="screen" />
</head>
<body>
    <section id="começo">

        <div class="div-logo">
            <img src="/imagen\logo-home.png" class="logo" id="lgo">
           </div>
      


           <div class="search-box">
            <input type="text" class="search-text">
            <a class="search-btn">
            <box-icon class="icone-lupa" name='search-alt-2' color='#f2f2f2' widht="60px" height="60px" ></box-icon>
            </a>
        </div>

        

        <div class="nav-home">
            <ul>
                <li><a onclick="window.location='/homeLF'">Home</a> </li>
                <li><a onclick="window.location='/artigosLJ'">Blog</a> </li>
                <li onclick="window.location='/lojaLJ'"><a>Loja</a> </li>
                <li><a>Sair</a> </li>
               
            
            </ul>
        </div>
        
    
    


        <box-icon onclick="window.location='perfilF'" name='user-circle' color='#ececec' class="perfil" onclick="window.location='/perfilJ'"  ></box-icon>


    
    
    
        <div class="conteiner" id="cos">
      
            <div class="hamburguer" id="btn-mobile">
                <div class="line1" id="line1"></div>
                <div class="line2" id="line2"></div>
                <div class="line3" id="line3"></div>
                <div class="line4" id="line4"></div>
            
    
                    <img src="/imagen\home-Proximo.png" class="line6" id="line6">
            </div>
        </div>
    
        
    
    <section>
    
        <div class="sidebar">
            
            <div class="logo-content">
            
                     <ul class="list">

                        <box-icon name='x' color="#f2f2f2" class="close-menu"></box-icon>

                        <img src="/imagen\logo-home.png" id="logo">
                         
    
                        <hr>

                        <div class="search-box2">
                            <input type="text" class="search-text2">
                                <a class="search-btn2">
                         <box-icon class="icone-lupa2" name='search-alt-2' color='#f2f2f2' widht="60px" height="60px" ></box-icon>
                               </a>
                            </div>
    
            
                         <li class="list-item active">
    
                           
                           
                             <a  onclick="window.location='/homeLJ'">
            
                            <i class='bx bx-home'></i>
    
    
                             <img src="/imagen\home-home.png" class="img_home" id="home">
                             <span class="links-name">Home</span>
    
            
                             </a>
            
                             <span class="tooltip">Home</span>
            
                        </li>
            
                        <li class="list-item">
            
                             <a  onclick="window.location='/artigosLJ'">
                            
                             <i class='bx bx-user'></i>
        
                              <img src="/imagen\home-livro.png" class="img_home" id="livro">
                              <span class="links-name" id="livro">Artigos</span>
            
                             </a>
            
                              <span class="tooltip">Artigos</span>
            
                        </li>
            
                      
            
                    </ul>
    
    
                    <ul class="list-logout">
            
                        <li class="list-logout">
        
                            <a onclick="window.location='/lojaLJ'">
            
                            <i class='bx bx-log-out'></i>
            
             
                            <img src="/imagen\home-loja.png" class="img_home" id="loja">
                            <span class="links-name">Loja</span>
            
                            </a>
    
                            <span class="tooltip">Loja</span>
            
                        </li>
                    </ul>
            
             </div>
        </div>
       
    </section>

</section>
   
</div>
    <header>

    <ul class="img-produto">
        <li>
            <img id="teste" src="/imagen\home-produto3.png" width="160" height="120" >
        </li>
        <li>
            <img id="teste" src="/imagen\home-produto3.png" width="160" height="120" >
        </li>
        <li>
            <img id="teste" src="/imagen\home-produto3.png" width="160" height="120" >
        </li>
    </ul>

  <div class="border-produto">
    <img id="teste" src="/imagen\home-produto3.png" width="160" height="120" >
    
  </div>

<div class="Descrição">

<h1> Descrição </h1>    

<p>Vaso feito de materiais reutilizaveis, com desing de gato.</p>

</div>

<div class="caractiristica">
    <h2> Vaso artesanal (modelo gato)</h2>
    <P>R$23,00 </P>
    <ul>
        <Li> Genero: Nenhum  </Li>
        <Li> Cor: Branca</Li>
        <Li> Composição: garrafas pets (Plastico)</Li>
        <Li> Planta não inclusa</Li>
        <Li> Tamanho medio 15x15</Li>
        
    </ul>
</div>
     
<div class="criador">
       <img src="">
       <a>Nome Perfil</a>
    
</div>

    </header>
 
    <footer>
    
        <div class="div-faça-parte">
          <div class="faça-parte">
              <p>Faça parte da Ecovox e vamos tornar o Brasil mais ecológico juntos!</p>
              <button  onclick="window.location='/cadastroF'">  ACESSO </button>
              <img src="/imagen\home-correto.png" >
          </div>
      <div>
       
      
      
          <div class="contato">
              <h3>Contato</h3>
              <p>ecovox@gmail.com<br>
                  (XX) X XXXX-XXXX
              </p>
          </div>    
      
          <hr>
      
          <a onclick="window.location='/Termos'">Política de Privacidade</a>
          <a>Termos & Condições</a>
          
      
       <img src="/imagen\home-footer-fundo.png" id="footer-fundo">
      
       <p>2023 EcoVox </p>
      
       <img src="/imagen\home-registrado.png" id="registrado"> 
      
         
      
      
      </footer>
<script src="/js/home.js"></script>
</body>
</html>