<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/verificaçaoArtigo.css" media="screen" />
    <title>Verificação Artigo</title>

</head>
<body>
        <section id="começo">
    
    
    
            <div class="search-box">
                <input id="searchbar" onkeyup="search_post()" type="text" placeholder="Buscar..." class="search-text">
                <a class="search-btn">
                <box-icon class="icone-lupa" name='search-alt-2' color='#f2f2f2' widht="60px" height="60px" ></box-icon>
                </a>
                <script>
                    function search_post() {
                        let input = document.getElementById('searchbar').value
                        input = input.toLowerCase();
                        let x = document.getElementsByClassName('titulo');
    
                        for (i = 0; i < x.length; i++) {
                            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                                x[i].style.display = "none";
                            }
                            else {
                                x[i].style.display = "list-item";
                            }
                        }
                    }
                </script>
            </div>
    
            <div class="div-logo">
                <img src="/imagen\logo-home.png" class="logo" id="lgo">
               </div>
    
               <div class="nav-home">
                <ul>
                    <li><a onclick="window.location='/homeLF'">Home</a> </li>
                    <li><a onclick="window.location='/artigosLJ'">Blog</a> </li>
                    <li onclick="window.location='/lojaLJ'"><a>Loja</a> </li>
                    <li><a>Sair</a> </li>
                   
                
                </ul>
            </div>
              
          
          
      
      
              <box-icon onclick="window.location='perfilF'" name='user-circle' color='#ececec' class="perfil" onclick="window.location='/perfilJ'"  ></box-icon>
      
      
          
          
          
              <div class="conteiner" id="cos">
            
                  <div class="hamburguer" id="btn-mobile">
                      <div class="line1" id="line1"></div>
                      <div class="line2" id="line2"></div>
                      <div class="line3" id="line3"></div>
                      <div class="line4" id="line4"></div>
                  
          
                          <img src="/imagen\home-Proximo.png" class="line6" id="line6">
                  </div>
              </div>
          
              
          
          <section>
          
              <div class="sidebar">
                  
                  <div class="logo-content">
                  
                           <ul class="list">
      
                              <box-icon name='x' color="#f2f2f2" class="close-menu"></box-icon>
      
                              <img src="/imagen\logo-home.png" id="logo">
                               
          
                              <hr>
      
                              <div class="search-box2">
                                  <input type="text" class="search-text2">
                                      <a class="search-btn2">
                               <box-icon class="icone-lupa2" name='search-alt-2' color='#f2f2f2' widht="60px" height="60px" ></box-icon>
                                     </a>
                                  </div>
          
                  
                               <li class="list-item active">
          
                                 
                                 
                                   <a  onclick="window.location='/homeLJ'">
                  
                                  <i class='bx bx-home'></i>
          
          
                                   <img src="/imagen\home-home.png" class="img_home" id="home">
                                   <span class="links-name">Home</span>
          
                  
                                   </a>
                  
                                   <span class="tooltip">Home</span>
                  
                              </li>
                  
                              <li class="list-item">
                  
                                   <a  onclick="window.location='/artigosLJ'">
                                  
                                   <i class='bx bx-user'></i>
              
                                    <img src="/imagen\home-livro.png" class="img_home" id="livro">
                                    <span class="links-name" id="livro">Artigos</span>
                  
                                   </a>
                  
                                    <span class="tooltip">Artigos</span>
                  
                              </li>
                  
                            
                  
                          </ul>
          
          
                          <ul class="list-logout">
                  
                              <li class="list-logout">
              
                                  <a onclick="window.location='/lojaLJ'">
                  
                                  <i class='bx bx-log-out'></i>
                  
                   
                                  <img src="/imagen\home-loja.png" class="img_home" id="loja">
                                  <span class="links-name">Loja</span>
                  
                                  </a>
          
                                  <span class="tooltip">Loja</span>
                  
                              </li>
                          </ul>
                  
                   </div>
              </div>
             
          </section>
      
      </section>
    <main>
<main>

<div id="fundo-seta">
<a onclick="window.location='/artigosLJ'"><img src="/imagen\VerificaçaoArtigo-seta.png"></a>
</div>

<article>

<div class="fundo-garrafa">
<img src="/imagen\artigo-img2.jpeg" id="garrafas">
</div>


<h1 id="title">As regiões que mais
    reclicam no Brasil</h1>


<address>
<div class="LOL">
    <img src="/imagen\Artigo-Caua.png" class="Reymond">
    <H2 id="Criador">Criador(a)</p>
    <p id="caua">Cauã Reymond </p>
    </div>
</address>

    <p id="texto">Pesquisa aponta que a indústria brasileira de reciclagem mecânica de plásticos (IRmP) recicla 21% do total dos plásticos pós-consumo no país, ou seja são recicladas aproximadamente 684 mil toneladas do total de 3,26 milhões de toneladas de plástico pós-consumo gerado em 2012.</p>
        


        <p id="texto2">Esta indústria faturou R$ 2,5 bilhões em 2012, um crescimento de 4,3% do verificado em 2011 (R$ 2,4 bilhões). 
        A maior parte das empresas de reciclagem está localizada no <b>estado de São Paulo. São 298, representando 39% do total no Brasil.</b></p>
        
        <p id="texto3">
        Em seguida, estão os <b> estados da Região Sul, Rio Grande do Sul, Santa Catarina e Paraná, respectivamente, totalizando 36% para a região.</b> As demais empresas estão distribuídas de forma pulverizada pelo país, com baixa incidência nas regiões Norte e Nordeste.
        </p>

        <div id="data">
      <b>Data de publicação</b><p>20 de novembro de 2022</p>
        </div>




</article>
    



</div>


</main>


<footer>
    
    <div class="div-faça-parte">
      <div class="faça-parte">
          <p>Faça parte da Ecovox e vamos tornar o Brasil mais ecológico juntos!</p>
          <button  onclick="window.location='/cadastroF'">  ACESSO </button>
          <img src="/imagen\home-correto.png" >
      </div>
  <div>
   
  
  
      <div class="contato">
          <h3>Contato</h3>
          <p>ecovox@gmail.com<br>
              (XX) X XXXX-XXXX
          </p>
      </div>    
  
      <hr>
  
      <a onclick="window.location='/Termos'">Política de Privacidade</a>
      <a>Termos & Condições</a>
      
  
   <img src="/imagen\home-footer-fundo.png" id="footer-fundo">
  
   <p>2023 EcoVox </p>
  
   <img src="/imagen\home-registrado.png" id="registrado"> 
  
     
  
  
  </footer>

</body>
</footer>
<script src="/js/home.js"></script>
</body>
</html>